body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Ensure video does not create scrollbars */
  
}
#videoBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.container {
  text-align: center;
  color: #fff; /* Set font color to white */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Add text shadow for better readability */
}
.clock-date-container {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
  color: #fff; /* Text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Text shadow for better readability */
  background-color: rgba(0, 0, 0, 0.5); /* Background color with transparency */
  padding: 10px; /* Add some padding for better visual appearance */
  border-radius: 5px; /* Rounded corners */
}
.clock-date-container span {
  display: block;
}

.clock-time {
  font-size: 2.5rem; /* Adjust font size for the time */
  font-weight: bold;
}

.clock-date {
  font-size: 1.2rem; /* Adjust font size for the date */
}

.weather-container {
  background-color: rgba(192, 194, 195, 0.8);  border-radius: 8px;
  padding: 1px;
  box-shadow: 0px 6px 12px rgba(71, 70, 70, 0.965);
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  animation: fadeIn 1s ease;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Update font-family for heading */
  font-size: 3.5rem; /* Increase font size for the heading */
  margin-bottom: 40px; /* Reduce margin to bring the heading closer to the content */
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7); /* Add a stronger text shadow for the heading */
  /* Add animation styles */
  opacity: 0;
  animation: fadeInAnimation 2s ease forwards; /* Animation name, duration, timing function, and fill mode */
}

/* Define the fadeInAnimation */
@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Start position for animation */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End position for animation */
  }
}

.location {
  font-size: 1.5rem; /* Adjust font size for location */
  font-weight: bold;
  margin-bottom: 5px; /* Add a small margin to separate the location and temperature */
}

.temperature {
  font-size: 3rem; /* Increase font size for temperature */
  margin: 5px 0;
}

.description {
  font-size: 1.2rem;
}

form input[type="text"] {
  width: 500px; /* Adjust the width as desired */
  padding: 5px 20px;
  font-size: 35px;
  background-color: rgba(209, 201, 201, 0.96);
}

/* Add this style to increase the button size */
form button {
  padding: 5px 20px; /* Adjust the padding as needed to increase or decrease button size */
  font-size: 26px; /* Adjust the font size as needed */
  background-color:#3339ee; /* Solid background color */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #fff;
  border: none;
  border-radius: px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
form button:hover {
  background-color: #019ed8;
}
form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Add margin between the form and weather container */
}
.weather-icon {
  font-size: 2rem; /* Adjust the icon size as needed */
  margin-top: 10px; /* Add some space between the weather description and icon */
}
